<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 100.7 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1142923 sha256=8abbbabf6c2961601230d53e9f2c2b631612c55570baae964ed1ed6b3075bba9
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 87.2 MB/s eta 0:00:00:00:01
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 6.7 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.36 sqlparse-0.5.1

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
import pandas as pd

# Define the necessary data lists if they are not defined yet
FlightNumber = list(range(1, 11))  # Just an example, replace with your actual data length
Date = ['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
        '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10']  # Example dates
BoosterVersion = ['v1.0', 'v1.1', 'v1.1', 'v1.2', 'v1.2', 'v1.2', 'v1.2', 'v2.0', 'v2.1', 'v2.1']
PayloadMass = [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400]  # Example payloads
Orbit = ['LEO', 'GTO', 'LEO', 'LEO', 'MEO', 'GTO', 'GTO', 'LEO', 'LEO', 'GTO']
LaunchSite = ['CCAFS SLC 40', 'VAFB SLC 4E', 'KSC LC 39A', 'CCAFS SLC 40', 'CCAFS SLC 40', 'KSC LC 39A', 'CCAFS SLC 40', 'KSC LC 39A', 'CCAFS SLC 40', 'KSC LC 39A']
Outcome = ['Success', 'Failure', 'Success', 'Success', 'Failure', 'Success', 'Failure', 'Success', 'Success', 'Failure']
Flights = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
GridFins = [True, False, True, True, False, True, False, True, True, False]
Reused = [False, False, True, True, False, True, True, True, True, False]
Legs = [False, False, True, True, False, True, True, True, True, False]
LandingPad = ['OCISLY', 'OCISLY', 'LZ-1', 'LZ-1', 'LZ-1', 'OCISLY', 'OCISLY', 'OCISLY', 'OCISLY', 'OCISLY']
Block = [1, 2, 2, 3, 3, 4, 4, 5, 5, 5]
ReusedCount = [0, 1, 1, 1, 2, 2, 2, 3, 3, 3]
Serial = ['B0001', 'B0002', 'B0003', 'B0004', 'B0005', 'B0006', 'B0007', 'B0008', 'B0009', 'B0010']
Longitude = [-80.5772, -120.6108, -80.5772, -80.5772, -80.5772, -80.5772, -80.5772, -80.5772, -80.5772, -80.5772]
Latitude = [28.5613, 34.6322, 28.5613, 28.5613, 28.5613, 28.5613, 28.5613, 28.5613, 28.5613, 28.5613]

# Construct launch_dict
launch_dict = {
    'FlightNumber': FlightNumber,
    'Date': Date,
    'BoosterVersion': BoosterVersion,
    'PayloadMass': PayloadMass,
    'Orbit': Orbit,
    'LaunchSite': LaunchSite,
    'Outcome': Outcome,
    'Flights': Flights,
    'GridFins': GridFins,
    'Reused': Reused,
    'Legs': Legs,
    'LandingPad': LandingPad,
    'Block': Block,
    'ReusedCount': ReusedCount,
    'Serial': Serial,
    'Longitude': Longitude,
    'Latitude': Latitude
}

# Recreate the DataFrame from the dictionary
launch_df = pd.DataFrame(launch_dict)

# Display the first few rows
print(launch_df.head())

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2020-01-01           v1.0          500   LEO  CCAFS SLC 40
1             2  2020-01-02           v1.1          600   GTO   VAFB SLC 4E
2             3  2020-01-03           v1.1          700   LEO    KSC LC 39A
3             4  2020-01-04           v1.2          800   LEO  CCAFS SLC 40
4             5  2020-01-05           v1.2          900   MEO  CCAFS SLC 40

   Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  ReusedCount  \
0  Success        1      True   False  False     OCISLY      1            0
1  Failure        1     False   False  False     OCISLY      2            1
2  Success        1      True    True   True       LZ-1      2            1
3  Success        1      True    True   True       LZ-1      3            1
4  Failure        1     False   False  False       LZ-1      3            2

  Serial  Longitude  Latitude
0  B0001   -80.5772   28.5613
1  B0002  -120.6108   34.6322
2  B0003   -80.5772   28.5613
3  B0004   -80.5772   28.5613
4  B0005   -80.5772   28.5613

In [19]:
import sqlite3
import pandas as pd

# Create a connection to the SQLite database
conn = sqlite3.connect("my_data1.db")  # Using an in-memory database for demonstration

# Create a DataFrame from your data if it's not already in a SQLite table
launch_df.to_sql('SpaceXLaunchData', conn, index=False, if_exists='replace')

# Execute the SQL query
query = """
SELECT DISTINCT "Launch site"
FROM SpaceXLaunchData
"""
unique_launch_sites = pd.read_sql_query(query, conn)

print(unique_launch_sites)

  "Launch site"
0   Launch site


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
# Filter and display 5 records where launch sites begin with 'CCA'
cca_records = launch_df[launch_df['LaunchSite'].str.startswith('CCA')].head(5)

print(cca_records)

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2020-01-01           v1.0          500   LEO  CCAFS SLC 40
3             4  2020-01-04           v1.2          800   LEO  CCAFS SLC 40
4             5  2020-01-05           v1.2          900   MEO  CCAFS SLC 40
6             7  2020-01-07           v1.2         1100   GTO  CCAFS SLC 40
8             9  2020-01-09           v2.1         1300   LEO  CCAFS SLC 40

   Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  ReusedCount  \
0  Success        1      True   False  False     OCISLY      1            0
3  Success        1      True    True   True       LZ-1      3            1
4  Failure        1     False   False  False       LZ-1      3            2
6  Failure        1     False    True   True     OCISLY      4            2
8  Success        1      True    True   True     OCISLY      5            3

  Serial  Longitude  Latitude
0  B0001   -80.5772   28.5613
3  B0004   -80.5772   28.5613
4  B0005   -80.5772   28.5613
6  B0007   -80.5772   28.5613
8  B0009   -80.5772   28.5613

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [22]:
print(launch_df.columns)

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude',
       'Latitude'],
      dtype='object')

In [23]:
# Filter the DataFrame for NASA (CRS) launches
nasa_crs_launches = launch_df[launch_df['PayloadMass'] == 'NASA (CRS)']

# Calculate the total payload mass
total_payload_mass = nasa_crs_launches['PayloadMass'].sum()

print(f"Total payload mass carried by NASA (CRS) boosters: {total_payload_mass} kg")

Total payload mass carried by NASA (CRS) boosters: 0 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
# Filter the DataFrame for booster version F9 v1.1
f9_v1_1_launches = launch_df[launch_df['BoosterVersion'] == 'F9 v1.1']

# Calculate the average payload mass
average_payload_mass = f9_v1_1_launches['PayloadMass'].mean()

print(f"Average payload mass carried by F9 v1.1: {average_payload_mass} kg")

Average payload mass carried by F9 v1.1: nan kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [25]:
# Filter for successful ground pad landings
ground_pad_successes = launch_df[launch_df['Outcome'].str.contains('Success') & launch_df['LandingPad'].notnull()]

# Find the date of the first successful ground pad landing
first_success_date = ground_pad_successes['Date'].min()

print(f"The first successful landing on a ground pad was on: {first_success_date}")

The first successful landing on a ground pad was on: 2020-01-01

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [26]:
# Filter for successful drone ship landings with payload mass between 4000 and 6000
filtered_boosters = launch_df[
    (launch_df['Outcome'].str.contains('drone ship') & launch_df['Outcome'].str.contains('Success')) &
    (launch_df['PayloadMass'] > 4000) &
    (launch_df['PayloadMass'] < 6000)
]

# List the names of the boosters
booster_names = filtered_boosters['Serial'].unique()

print(booster_names)

[]

### Task 7




##### List the total number of successful and failure mission outcomes

In [27]:
# Calculate the total number of successful and failure mission outcomes
mission_outcomes = launch_df['Outcome'].value_counts()

print(mission_outcomes)

Outcome
Success    6
Failure    4
Name: count, dtype: int64

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [30]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect(':memory:')  # Using an in-memory database for demonstration

# Create a table from the DataFrame
launch_df.to_sql('SpaceXLaunchData', conn, index=False, if_exists='replace')

# SQL query to find the booster versions with maximum payload mass
query = """
SELECT "BoosterVersion"
FROM SpaceXLaunchData
WHERE "PayloadMass" = (
    SELECT MAX("PayloadMass")
    FROM SpaceXLaunchData
)
"""

max_payload_boosters = pd.read_sql_query(query, conn)

print(max_payload_boosters)

  BoosterVersion
0           v2.1

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [31]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect(':memory:')  # Using an in-memory database for demonstration

# Create a table from the DataFrame
launch_df.to_sql('SpaceXLaunchData', conn, index=False, if_exists='replace')

# SQL query to list the required records
query = """
SELECT 
    CASE substr(Date, 6, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
    END AS Month,
    "Outcome",
    "BoosterVersion",
    "LaunchSite"
FROM SpaceXLaunchData
WHERE "Outcome" LIKE '%drone ship%' AND "Outcome" LIKE '%Failure%' AND substr(Date, 0, 5) = '2015'
"""

result = pd.read_sql_query(query, conn)

print(result)

Empty DataFrame
Columns: [Month, Outcome, BoosterVersion, LaunchSite]
Index: []

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [32]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect(':memory:')  # Using an in-memory database for demonstration

# Create a table from the DataFrame
launch_df.to_sql('SpaceXLaunchData', conn, index=False, if_exists='replace')

# SQL query to rank the landing outcomes
query = """
SELECT "Outcome", COUNT(*) as count
FROM SpaceXLaunchData
WHERE DATE(Date) BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Outcome"
ORDER BY count DESC
"""

landing_outcomes_ranked = pd.read_sql_query(query, conn)

print(landing_outcomes_ranked)

Empty DataFrame
Columns: [Outcome, count]
Index: []

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>